@import url(//fonts.googleapis.com/css?family=Noto+Sans);

// Noto Sans Armenian
@import url(//fonts.googleapis.com/earlyaccess/notosansarmenian.css);
.hy {
    font-family: 'Noto Sans Armenian', sans-serif;
}

// Noto Sans Bengali
@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
.bn {
    font-family: 'Noto Sans Bengali', sans-serif;
}

// Noto Sans Gujarati
@import url(//fonts.googleapis.com/earlyaccess/notosansgujarati.css);
.gu {
    font-family: 'Noto Sans Gujarati', sans-serif;
}

// Noto Sans Kannada
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
.kn {
    font-family: 'Noto Sans Kannada', sans-serif;
}

// Noto Sans Sinhala
@import url(//fonts.googleapis.com/earlyaccess/notosanssinhala.css);
.si {
    font-family: 'Noto Sans Sinhala', sans-serif;
}

// Noto Sans Tamil
@import url(//fonts.googleapis.com/earlyaccess/notosanstamil.css);
.ta {
    font-family: 'Noto Sans Tamil', sans-serif;
}

// Noto Sans Telugu
@import url(//fonts.googleapis.com/earlyaccess/notosanstelugu.css);
.te {
    font-family: 'Noto Sans Telugu', sans-serif;
}
