// Noto Sans
@import url('//fonts.googleapis.com/css?family=Noto+Sans');

// Noto Sans Armenian
@import url('//fonts.googleapis.com/earlyaccess/notosansarmenian.css');
input.translation.hy { font-family: 'Noto Sans Armenian', sans-serif; }

// Noto Sans Bengali
@import url('//fonts.googleapis.com/earlyaccess/notosansbengali.css');
input.translation.bn { font-family: 'Noto Sans Bengali', sans-serif; }

// Noto Sans Gujarati
@import url('//fonts.googleapis.com/earlyaccess/notosansgujarati.css');
input.translation.gu { font-family: 'Noto Sans Gujarati', sans-serif; }

// Noto Sans Kannada
@import url('//fonts.googleapis.com/earlyaccess/notosanskannada.css');
input.translation.kn { font-family: 'Noto Sans Kannada', sans-serif; }

// Noto Sans Sinhala
@import url('//fonts.googleapis.com/earlyaccess/notosanssinhala.css');
input.translation.si { font-family: 'Noto Sans Sinhala', sans-serif; }

// Noto Sans Tamil
@import url('//fonts.googleapis.com/earlyaccess/notosanstamil.css');
input.translation.ta { font-family: 'Noto Sans Tamil', sans-serif; }

// Noto Sans Telugu
@import url('//fonts.googleapis.com/earlyaccess/notosanstelugu.css');
input.translation.te { font-family: 'Noto Sans Telugu', sans-serif; }

// Noto Sans Ethiopic
@import url('//fonts.googleapis.com/earlyaccess/notosansethiopic.css');
input.translation.am { font-family: 'Noto Sans Ethiopic', sans-serif; }

// Noto Sans Malayalam
@import url('//fonts.googleapis.com/earlyaccess/notosansmalayalam.css');
input.translation.ml { font-family: 'Noto Sans Malayalam', sans-serif; }

// Noto Sans Gurmukhi
@import url('//fonts.googleapis.com/earlyaccess/notosansgurmukhi.css');
input.translation.pa { font-family: 'Noto Sans Gurmukhi', sans-serif; }
